* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    text-align: center;
}
h2 {
    font-size: 2em;
    color: #e94d58;
    margin: 15px 0;
}

.image {
    width: 100%;
    max-width: 300px;
}

.btn_group {
    margin-top: 50px;
    position: relative;
    height: 100px;
    width: 300px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    overflow: visible;
}
button {
    width: 150px;
    color: white;
    height: inherit;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    height: inherit;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    margin: 0 10px; 
    width: 120px;
}

button.yes-btn {
    background: #e94d58;
}
button.no-btn {
    background: white;
    color: #e94d58;
    position: absolute;
    left: 50%;
}